.unit {
  background: radial-gradient(
    circle at 100%,
    #9ef0d2,
    #eee 50%,
    #15b67b 75%,
    #9ef0d2 75%
  );
  color: white;
  margin: 0.5rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 0.5rem;
  text-align: center;
  cursor: move;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.unit.completed {
  background: radial-gradient(
    circle at 100%,
    #111,
    #333 50%,
    #595959 75%,
    #333 75%
  );
  text-decoration: line-through;
}

.unit.floating {
  background: radial-gradient(
    circle at 100%,
    #333,
    #24198b 50%,
    #9ef0d2 75%,
    #28559e 75%
  );
}
