.main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-align: center;
}

.greeting span {
  font-weight: 900;
  text-decoration: none;
  background: linear-gradient(135deg, #0ed5bc, #14e0a9);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.25s ease-out;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.table {
  height: 200px;
  width: 900px;
  margin-top: 1rem;
}

@media (pointer: coarse) {
  .albums img {
    width: 90vw;
  }
  .table {
    width: 90vw;
  }
}
