.shoplist {
  display: grid;
  gap: 4rem;
  margin: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.shoplist .shopitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.shoplist .cnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
