.shoplist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
}

.shoplist .shopitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shoplist .cnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
