.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center button {
  height: 5rem;
}

.swiper {
  width: 400px;
  white-space: nowrap;
  overflow-x: hidden;
}

.swiper li {
  display: inline-block;
  object-fit: contain;
}

@media (pointer: coarse) {
  .swiper {
    width: 90vw;
  }
}
